DATABASE_HOSTNAME=your_database_hostname
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password
DATABASE_PORT=your_database_port
DATABASE_NAME=your_database_name
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=5
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port